<form {{action save on="submit"}} class="form-horizontal">
  <legend>Edit Gig</legend>

  {{partial "edit_fields"}}

  <div class="form-actions">
    {{submitButton "Update"}}
    <button class="btn" {{action toGig gig target="controller"}}>Go back</button>
  </div>
</form>