<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand strong">{{#linkTo gigs}}Gigggs{{/linkTo}}</div>
      <ul class="nav">
          <li>{{#linkTo about}}About{{/linkTo}}</li>
      </ul>
      <div class="btn-group pull-right">
        {{#if authenticated}}
            <button class="btn" {{action logout}}>Logout</button>
        {{else}}
            {{view App.MenuItem href="#/gigs/login" label="Login" }}
            {{view App.MenuItem href="#/gigs/registration" label="Register"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
